.section-title {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    /* or 112% */
    letter-spacing: 5px;
    text-transform: uppercase;
    margin:0;
    color: rgba(157, 134, 101, 1);
    text-transform: uppercase;
}