.social-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0;
    width: 340px;
    margin: 0 0 0 auto;
}

.social-container {
    align-self: flex-end;
}

.social-point {
    border-radius: 100%;
    border: 0.5px solid #FFFFFF;
    width: 48px;
    height: 48px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: inherit;
}

.social-point:hover {
    cursor: pointer;
    outline: #9D8665;
    background-image: #9D8665;
    transition: background-image 1s ease-out;
}

.social-point_youtube {
    background-image: url(../../assets/svg/youtube.svg);
}

.social-point_instagram {
    background-image: url(../../assets/svg/instagram.svg);
}

.social-point_facebook {
    background-image: url(../../assets/svg/facebook.svg);
}

.social-point_twitter {
    background-image: url(../../assets/svg/twitter.svg);
}

.social-point_pinterest {
    background-image: url(../../assets/svg/pinterest.svg);
}