@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: auto;
  min-height: 220px;  
  padding: 20px;
}

.player {
  width: 50%;
  max-width: 300px;
}

.audio-title {
  width: 100%;
  height: 32px;
  padding: 5px;
  font-size: 20px;
  font-weight: normal;
  line-height: 22px;
  color: #fff;  
  background-color: transparent;
  text-align: left;
}

.progress-bar {
  width: 100%;
  height: 2px;
  outline: none;
  position: relative;
  cursor: pointer;
  float: left;
  margin-bottom: 12px;
  -webkit-appearance: none;
  transform: background 450ms ease-in;
}

.progress-bar::-webkit-slider-thumb {
  width: 10px;
  height: 7px;
  -webkit-appearance: none;
  cursor: pointer;
  background: #C5B358;
}

.audio-time {
  display: flex; 
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 11px;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  background: url("../assets/svg/play.svg") center/contain;
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  left: 0;
  top: 20%;
}

.item-active {
  color: #C5B358;
}

.item-active::before {
  filter: invert(74%) sepia(60%) saturate(353%) hue-rotate(9deg) brightness(86%) contrast(90%);
}

.item-active-pause::before {
  background: url("../assets/svg/pause.svg") center/contain;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;  
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover,
.play-item::before {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active,
.play-item::before:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.play-mute {
  width: 16px;
  height: 16px;
  background-size: contain;
  background-image: url("../assets/svg/volume.png");
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;  
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 2px solid #fff;
  background-color: transparent;
}

.city::placeholder {  
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;  
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;  
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  flex: 1;  
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.links {
  width: 40%;
  max-width: 180px;
  position: relative;
}

.links-title {
  height: 32px;
  padding: 5px;
  font-size: 20px;
  font-weight: normal;
  line-height: 22px;
  color: #fff;  
  background-color: transparent;
  text-align: left;
  margin-bottom: 10px;
}

.links-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 10px;
  align-items: flex-end;
  margin-bottom: 10px;
}

.link {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.link-icon {
  width: 15px;
  height: 15px;
}

.link-title {
  width: 80%;
  text-align: left;
  height: 15px;
  text-decoration: none;
  margin-left: 5px;
  color: #fff;
}

.link-title:hover {
  color: #C5B358;
}

.links-buttons {
  width: 100%;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links-form {
  visibility: hidden;
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 10px;
  row-gap: 10px;
  height: 40px;
  width: fit-content;
}

.links-form_active {
  visibility: visible;
}

.links-form-close {
  visibility: hidden;
  cursor: pointer;
  width: 10px;
  height: 10px;
  background: url(../assets/svg/delete.svg) center/contain;
  border: none;
  opacity: 0.5;
}

.links-form-close:hover {
  opacity: 1;
}

.links-form-close_disable {
  visibility: visible;
}

.links-subtitle {
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  color: #fff;  
  text-align: left;
  opacity: 0.5;
  border: none;
  background: inherit;
}

.links-subtitle:hover {
  opacity: 1;
  cursor: pointer;
}

.links-subtitle_disable {
  visibility: hidden;
}

.link-input {
  background-color: transparent;
  width: 90%;
  text-align: left;
  height: 15px;
  text-decoration: none;
  color: #fff;
  border: none;
  font-size: 16px;
  outline: 0;
}

.link-input::placeholder {  
  color: #fff;
  opacity: .5;
  font-size: 16px;
}

.link-input:focus,
.link-input:active
.link-input:-webkit-autofill-selected,
.link-input:-webkit-autofill-focus,
.link-input:-webkit-writing-mode {
  -webkit-text-fill-color: #fff;
  background: transparent;
  color: #fff;
  border: none;
  outline: none;
}

.link-submit {
  border: none;
  display: none;
}

.link-delete {
  cursor: pointer;
  width: 10px;
  height: 10px;
  background: url(../assets/svg/delete.svg) center/contain;
  border: none;
  margin: auto 0 auto auto;
  opacity: 0.5;
}

.link-delete:hover {
  opacity: 1;
}

.footer {
  width: 100%;
  height: 30vh;
  min-height: 160px;  
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.quotes-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 40%;
  max-width: 300px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");  
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}