.menu-container {
    width: 100%;
}

.menu__burger-container{
    width: 80%;
    max-width: 775px;
    display: block;
}

.menu__image-container {
    display: none;
    width: 100%;
}

.menu__line {
    display: none;
}
.menu__social-container {
    display: none;
}

@keyframes hideLeft {
    from {left: 0%}
    to {left: -100%}
}

@keyframes showLeft {
    from {left: -100%}
    to {left: 0%}
}

@media screen and (max-width: 1200px) {
    .menu__burger-container {
        width: 30%;
        max-width: 190px;
        height: 45vw;
        flex-direction: column;
        position: absolute;
        left: -100%;
        top: 130px;
        z-index: 5;
        background-color: rgba(3, 3, 3, 1);
        padding: 35px 55px;
        animation: hideLeft 1s;    
    }
    
    .menu-container {
        display: flex;
        width: 100%;
        flex-direction: column;
        z-index: 5;
        background-color: rgba(3, 3, 3, 1);
    }

    .menu__burger-container_active {
        display: flex;
        left:0;
        animation: showLeft 1s;  
    }
}

@media screen and (max-width: 900px) {
    .menu-container {
        width: 100%;
    }

    .menu__line {
        display: flex;
    }

    .menu__burger-container {
        width: calc(100% - 110px);
        max-width: none;
        height: auto;
        top: 110px;
    }

    .menu__image-container {
        display: grid;
        grid-template-areas: "one one"
                             "two three";
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
        margin: 35px 0;
    }

    .menu-container_active {
        display: flex;
    }

    .menu__image {
        width: 100%;
        object-fit: cover;
    }

    .menu__image1 {
        display: grid;
        grid-area: two;
    }

    .menu__image2 {
        display: grid;
        grid-area: one;
    }
    .menu__image3 {
        display: grid;
        grid-area: three;
    }

    .menu__line {
        width: 100%;
        height: 1px;
        color: solid rgba(255, 255, 255, 0.5);
    }

    .menu__social-container {
        display: flex;
        margin: 35px auto 0;
        justify-content: center;
    }
    
}

@media screen and (max-width: 500px) {
    .menu__burger-container {
        max-width: none;
        top: 90px;
    }

    .menu__image {
        width: 100%;
        height: 95px;
    }
    
    .menu__image-container {
        display: grid;
        grid-template-areas: "one two three";
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        gap: 12px;
        margin-bottom: 20px;
    }

    .menu-container_active {
        display: flex;
    }

    .menu__image1 {
        display: grid;
        grid-area: one;
    }

    .menu__image2 {
        display: grid;
        grid-area: two;
    }
    .menu__image3 {
        display: grid;
        grid-area: three;
    }
}

