.popup__numbers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 15px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 15px; 
}