.logo-container {
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    align-self: flex-start;
}

.logo-container:hover{
    transition: filter 1s ease-out;
    filter: invert(49%) sepia(3%) saturate(4111%) hue-rotate(356deg) brightness(111%) contrast(75%);
    cursor: pointer;
}