.popup__ticket-subtitle {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    text-transform: capitalize;
    color: #9D8665;
    padding: 0 0 5px;
    border-bottom: 2px solid #740C11;
    margin: 0;
}