.logo-image {
    background-image: url(../../assets/svg/logo.svg);
    background-position: center;
    background-size: cover;
    width: 49px;
    height: 26px;
    margin-right: 25px;
}

@media screen and (max-width: 550px) {
    .logo-image {
        width: 29px;
        height: 16px;
}
}