@import url(./blocks/section/section.css);
@import url(./blocks/video-section/video-section.css);
@import url(./blocks/section-dark/section-dark.css);
@import url(./blocks/container/container.css);
@import url(./blocks/header-container/header-container.css);
@import url(./blocks/header/header.css);
@import url(./blocks/logo-container/logo-container.css);
@import url(./blocks/logo-image/logo-image.css);
@import url(./blocks/logo-text/logo-text.css);
@import url(./blocks/menu-container/menu-container.css);
@import url(./blocks/menu-list/menu-list.css);
@import url(./blocks/menu-point/menu-point.css);
@import url(./blocks/menu-link/menu-link.css);
@font-face {
    font-family: Roboto;
    src: url(./assets/fonts/Roboto/Roboto-Regular.ttf);

    font-family: Forum;
    src: url(./assets/fonts/Forum/Forum-Regular.ttf);
   }
html {scroll-behavior: smooth};