.control-panel {
    width: 450px;
    height: 120px;
    padding: 0 75px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #030303;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 40px;
}