.video__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    color: #000000;
    margin: 0;
    height: 90px;
    width: 50%;
}