.copyright-logo {
    margin: 0;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 200;
    line-height: 22px;
    letter-spacing: 2px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}