.title-container {
    display: flex;
    visibility: visible;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
    margin:0;
    position: absolute;
    top: 150px;
    left:0;
    opacity: 1;
    transition: visibility 0.5s, opacity 0.5s linear;
}

.title-container__hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
}

@media screen and (max-width:1400px) {
    .title-container {
        top: 50px;
    }
}

@media screen and (max-width: 900px) {
    .title-container {
        align-items: center;
        text-align: center;
        top:0;
        margin: auto;
        right: 0;
        position: relative;
    }
}
