.gallery__container {
    overflow-y: hidden;
    width: 100%;
    height: 1960px;
    margin-top: 75px;
}

.gallery__inner-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 25px;
    align-content: space-between;
    height: 3000px;
    width: 100%;
}

.gallery__image {
    width: calc((100% - 68px) / 3);
    height: auto;
}

.gallery__image:nth-child(3n + 1) {
    order: 1;
  }
  .gallery__image:nth-child(3n + 2) {
    order: 2;
  }
  .gallery__image:nth-child(3n) {
    order: 3;
  }
   
  .gallery__image:nth-child(1) {
    margin-top: 50px;
  }
  
  .gallery__image:nth-child(3) {
    margin-top: 50px;
  }

  .gallery__gradient {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 360px;
    width: 100%;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgba(0, 0, 0, 0.6) 70%,
      #000000 95%
    );
  }

  @media screen and (max-width: 900px) {
    .gallery__container {
      height: 1300px;
      margin-top: 75px;
  }  
    
    .gallery__inner-container{
          height: 4820px;
      }
  
      .gallery__image {
          width: calc((100% - 24px) / 2);
          height: auto;
      }
  
      .gallery__image:nth-child(even) {
        order: 2;
      }
      .gallery__image:nth-child(odd) {
        order: 1;
      }

      .gallery__image:nth-child(3) {
        margin: 0;
      }
  }


@media screen and (max-width: 1400px) {
  .gallery__container {
    height: 1060px;
    margin-top: 60px;
}  
}