.welcome-button {
    margin: 50px 0 0;
    background: #710707;
    border-radius: 10px;
    height: 75px;
    text-align: center;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 75px;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 1);
    width: 360px;
    text-decoration: none;
}

.welcome-button:hover {
    cursor: pointer;
    background-color: #9D8665;
    transition: background-color 1s ease-out;
}

@media screen and (max-width: 900px) {
    .welcome-button {
        display: none;
    }
}