.popup__input_type_date {
    /*background-image: url(../../../../assets/svg/date.svg);
    background-position: 15px 15px;
    background-repeat: no-repeat;*/
    background-image: url(../../../../assets/svg/date.svg), url(../../../../assets/svg/input-arrow.svg);
    background-position: top 15px left 15px, top 15px right 15px;
    background-repeat: no-repeat, no-repeat;
    padding: 13px 43px;
    width: 98px;
}

.popup__input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
  }

  input[type="date"]:not(.has-value):before{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #030303;
    content: attr(placeholder);
  }
  input[type="date"]:focus::before,
input[type="date"]:valid::before { display: none }
